:root {
  /* PRIMARY */
  --primary: 126, 151, 201;

  /* STATUS COLORS */
  --success: 34, 197, 94;
  --secondary: 107, 114, 128;
  --danger: 239, 68, 68;
  --warning: 234, 179, 8;
  --info: 59, 130, 246;
  --gray: 156, 163, 175;
  --light: 243, 244, 246;
}

/* BACKGROUND */
.bg-primary { background-color: rgb(var(--primary)); }
.bg-success { background-color: rgb(var(--success)); }
.bg-danger  { background-color: rgb(var(--danger)); }
.bg-warning { background-color: rgb(var(--warning)); }

/* TEXT */
.text-primary { color: rgb(var(--primary)); }
.text-success { color: rgb(var(--success)); }
.text-danger { color: rgb(var(--primary)); }
.text-warning { color: rgb(var(--success)); }

/* HOVER */
.hover-primary:hover {
  background-color: var(--primary);
}

/* BUTTONS */
.btn-primary {
  background-color: rgb(var(--primary));
  color: white;
}

.btn-primary:hover {
  background-color: rgba(var(--primary), 0.75);
   color: rgba(var(--success), 1.5);

}

.btn-danger {
  background-color: rgb(var(--danger));
  color: white;
}

.btn-danger:hover {
  background-color: rgba(var(--danger), 0.5);
  color: rgba(var(--danger), 1.5);;
}
