:root {
  /* PRIMARY */
  --primary: 126, 151, 201;
  --active: 126, 151, 201;
  --activeColor:243, 244, 246;

  /* STATUS COLORS */
  --success: 34, 197, 94;
  --secondary: 107, 114, 128;
  --danger: 239, 68, 68;
  --warning: 234, 179, 8;
  --info: 59, 130, 246;
  --gray: 156, 163, 175;
  --light: 243, 244, 246;
  --scrollbar: 126, 151, 201;
  --card:243, 244, 246;
  --cardTX:156, 163, 175;
  --border: 243, 244, 246
  --bgTableHead:243, 244, 246;
  --TableHeadText:156, 163, 175;
}

/* BACKGROUND */
.bg-primary { background-color: rgb(var(--primary)); }
.bg-success { background-color: rgb(var(--success)); }
.bg-danger  { background-color: rgb(var(--danger)); }
.bg-warning { background-color: rgb(var(--warning)); }
.bg-gray { background-color: rgb(var(--gray)); }
.card { background-color: rgb(var(--card)); }
.active {
    background-color: rgb(var(--active));
    color: rgb(var(--activeColor));
}
table thead {
    background-color: rgb(var(--bgTableHead));
    color: rgb(var(--TableHeadText));
}



/* TEXT */
.text-primary { color: rgb(var(--primary)); }
.text-success { color: rgb(var(--success)); }
.text-danger { color: rgb(var(--primary)); }
.text-warning { color: rgb(var(--success)); }
.text-gray { color: rgb(var(--gray)); }
.cardTX { color: rgb(var(--cardTX)); }
*, ::before, ::after, .border{ border-color: rgb(var(--border));}

/* HOVER */
.hover-primary:hover {
  background-color: var(--primary);
}

nav ul li a:hover{
    background-color: rgba(var(--active), 0.75) !important;
    color: rgba(var(--activeColor), 0.5) !important;
}

/* BUTTONS */
.btn-primary {
  background-color: rgb(var(--primary));
  color: white;
}

.btn-primary:hover {
  background-color: rgba(var(--primary), 0.75);
   color: rgba(var(--success), 1.5);

}

.btn-gray {
  background-color: rgb(var(--gray));
  color: white;
}

.btn-gray:hover {
  background-color: rgba(var(--gray), 0.75);
   color: rgba(var(--gray), 1.5);

}

.btn-danger {
  background-color: rgb(var(--danger));
  color: white;
}

.btn-danger:hover {
  background-color: rgba(var(--danger), 0.5);
  color: rgba(var(--danger), 1.5);;
}


/* Scrollbar Setting */
::-webkit-scrollbar-button {
  display: none !important;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--scrollbar), 0.6);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--scrollbar), 0.9);
}
